<html
<head>
<title>Cetak Kartu</title>
</head>
<body>
 <button  onclick="PrintDoc()"><img src="img/print.png">Print Data</button>
<button  onclick="PrintPreview()"><img src="img/preview.png">Print Preview</button>
  <div id="print">
<table width="100%">
	<tr>
		<td width="25" align="center" style="times new roman"><img src="LOGO POLIJE.png" width="50%"></td>
		<td width="10" align="center" style="times new roman">
		<b>KEMENTERIAN RISET, TEKNOLOGI DAN PENDIDIKAN TINGGI</b><br>
		<b>POLITEKNIK NEGERI JEMBER</b><br>
		Jl. Mastrip PO.BOX 164 Telp 333532 - 333534 Fax 333531 Jember 68101<br>
		Website : http://www.polije.ac.id E-mail: politeknik@polije.ac.id</td>
		<td width="25" align="center" style="times new roman"><img src="ahai.png" width="50%"></td>
	</tr>
</table>
<hr color="black" size="4px" ><br>

<center style="times new roman"><u>KARTU BIMBINGAN TUGAS AKHIR</u></center><br><br>

<span style="padding-left:5em">Nama				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp _________________________________<span><br>
<span style="padding-left:5em">NIM				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp __________________________________<span><br>
<span style="padding-left:5em">Program Studi	&nbsp; &nbsp; __________________________________<span><br>
<span style="padding-left:5em">Pembimbing		&nbsp; &nbsp; &nbsp; __________________________________</span><br>
<span style="padding-left:5em">Judul			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; __________________________________<span><br><br>

<table align="center", rules="all", border="1">
	<tr>
		<th width="100px"> Tanggal </th>
		<th width="100px"> Topik </th>
		<th width="250px"> Komentar Pembimbing </th>
		<th width="50px""> Paraf Pembimbing </th>
	</tr>
	
	<tr height="1000px">
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
	</div>
</body>
</html>
<script type="text/javascript">
 /*--This JavaScript method for Print command--*/
 function PrintDoc() {
  var toPrint = document.getElementById('print');
  var popupWin = window.open('');
  popupWin.document.open();
  popupWin.document.write('<html><title>::Print Data::</title><link rel="stylesheet" type="text/css" href="print.css" /></head><body onload="window.print()">')
  popupWin.document.write(toPrint.outerHTML);
  popupWin.document.write('</html>');
  popupWin.document.close();
 }
 /*--This JavaScript method for Print Preview command--*/
 function PrintPreview() {
  var toPrint = document.getElementById('print');
  var popupWin = window.open('');
  popupWin.document.open();
  popupWin.document.write('<html><title>::Printpreview Data::</title><link rel="stylesheet" type="text/css" href="print.css" media="screen"/></head><body">')
  popupWin.document.write(toPrint.outerHTML);
  popupWin.document.write('</html>');
  popupWin.document.close();
 }
</script>